body.show-modal .backdrop {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  display: flex;
}

.backdrop {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}
.modal {
  background-color: #fff;
  padding: 24px;
  width: 60vw;
  height: 60vh;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
